body {
  background-color: #f2f2f2;
}

.head {
  max-width: 480px;
  margin: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  color: #646464;
}

.container-images {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  margin: auto;
  padding: 20px;
}

.card div {
  height: 130px;
  border-radius: 4px;
}

.card {
  position: relative;
  cursor: pointer;
}

.front {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  border: 2px solid #dcdcdc;
  background-color: #f2f2f2;
  transform: rotateY(90deg);
  transition: 0.2s;
}

.back {
  background-color: #d86f6f;
  /* background-image: url(images/back.png); */
  /* height: 100px;
  width: 100px; */
}

img {
  height: 100px;
  width: 100px;
}

.flip {
  transform: rotateY(0deg);
  transition: 0.2s;
}
.match {
  transform: rotateY(0deg);
  transition: 0.2s;
}

.show {
  transform: rotateY(0deg);
  transition: 0.2s;
}

button {
  height: 35px;
  width: auto;
  border: 2px solid #dcdcdc;
  background-color: #f2f2f2;
  font-size: 16px;
  color: rgb(75, 75, 75);
}
